
    <table>
    <tr>
        <th>Formulaire</th>
        <th>Titre_minier</th>
        <th>Typ_alteration</th>
        <th>Mineral</th>
        <th>Alteration_yn</th>
        <th>Mineral_desc</th>
    </tr>
    {% for i in conv_alteration %}
    <tr>

        <td>{{i.Formulaire}}</td>
        <td>{{i.Titre_minier}}</td>
        <td>{{i.Typ_alteration}}</td>
        <td>{{i.Mineral}}</td>
        <td>{{i.Alteration_yn}}</td>
        <td>{{i.Mineral_desc}}</td>



    </tr>
    {% endfor %}

    </table>
